acl corpnets { {{ localnetwork }}; {{ localhost }}; }; 
options {
        directory "/var/cache/bind";
        forwarders {
           {% for n in port_forwarders %}
           {{ n -}};
           {% endfor %}
        };
        allow-query { {{ localhost_address }}; {{ localnetwork }}; {{ docker_network }}; };
        dnssec-validation no;
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
