acl lan {
   {% for n in acl_lan_networks %}
   {{- n }};
   {% endfor -%}
 }; 
options {
        directory "/var/cache/bind";
        forwarders {
           {% for n in port_forwarders %}
           {{ n -}};
           {% endfor %}
        };
        allow-query {
            lan;
        };
        dnssec-validation no;
};
